@font-face {
  font-family: "Ketikan_Demo";
  src: url("/static/fonts/Ketikan_Demo.woff2") format("woff2");
}
@font-face {
  font-family: "Fragmentcore";
  src: url("/static/fonts/Fragmentcore.woff2") format("woff2");
}




.SHAYAN{
    top: 10vw;
    position: fixed;
    width: 2vw;
    height: 7.9vw;
    right: 0;
    z-index: 5;
}
.research_SHAYAN{
    top: 3vw;
    position: absolute;
    width: 30vw;
    right: -28vw;
    transition: right 0.3s ease;
    z-index: 4;
}
.SHAYAN:hover + .research_SHAYAN{
    right: 0vw;
}

.KARTHEEK{
    top: 18.3vw;
    position: fixed;
    width: 2vw;
    height: 7.9vw;
    right: 0;
    z-index: 5;
}
.research_KARTHEEK{
    top: 6.7vw;
    position: absolute;
    width: 30vw;
    right: -28vw;
    transition: right 0.3s ease;
    z-index: 4;
}
.KARTHEEK:hover + .research_KARTHEEK{
    right: 0vw;
}

.Paper{
    position: relative;
  /*border-radius: 35px;*/
  padding: 1vw;
  width: 100%;
  height: 96vh;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  background: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}

.paper_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.Paper::-webkit-scrollbar {
  display: none;
}
.Paper {
  -ms-overflow-style: none;
}
.Paper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
h1{
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 2vw;
    text-align: center;
    font-family: "Ketikan_Demo";
}
.first_table_content{
    height: 100%;
    width: 100%;
    padding: 1vw;
 }
.image_portion{
    width: 33%;
}
.Tiger_research{
    width: 25vw;
    border-radius: 30px;
    padding: 10px;
}
.content_portion{
    font-family: "Fragmentcore";
    padding: 0 3vw;
    text-align: justify;
}

.scroll_animation{
    width: 3vw;
    height: 3vw;
    position: fixed;
    cursor: pointer;
    bottom: 3vw;
    right: 7vw;
}

.second_table_content{
    width: 100%;
}
.research_paper_abstract{
    width: 100%;
}
.third_table_content{
    width: 100%;
}
/* Custom styles for the table */
.third_table_content {
    font-family: "Fragmentcore", serif;
    width: 100%;
    border-collapse: collapse;
}

.third_table_content th, .third_table_content td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.third_table_content th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

.third_table_content tr:nth-child(even) {
    background-color: #f9f9f9;
}

.third_table_content tr:hover {
    background-color: #f5f5f5;
}
.first_table_heading{
    display: flex;
    text-align: left;
    font-size: 20px;
    padding: 35px 46px;
}
.Table1{
    background: red;
}

.pdfstyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove the border */
}