<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Points</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signal.css') }}">
</head>
<body>
<h2 class="heading">Signal</h2>

<div class="cam">
    <div class="video_content_cam" >
        <img src="{{ url_for('video_feed') }}" style="width: 50%;">
    </div>
    <div class="Cam1" style="padding-right:5vw">
        <h1>Cam_1</h1>

        <h5>Loc : ..........</h5>

    </div>


</div>


</body>
</html>